@import url('./styles/1-intro.css');
@import url('./styles/2-header.css');
@import url('./styles/3-main.css');
@import url('./styles/4-about.css');
@import url('./styles/5-html-css.css');
@import url('./styles/6-curriculum.css');
@import url('./styles/7-contact.css');
@import url('./styles/8-footer.css');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

:root{
    --color-main:#ff4200;
    --color-sub:#00a200;
    --color-dark:#2f4858;
    --color-emph:#f10f5f;
    --color-text:#281812;
    --color-lighter:#dc9c86;
    --color-light-bd:#ffe6d6;
    --color-light-bg:#fff5ed;

    
    --fond-code:'nanumgothiccoding',monospace;

    --fond-size-title:44px;
    --fond-size-subtitle:32px;
    --fond-size-tag:26px;
    --fond-size-larger:20px;
    --fond-size-text:18px;

    --height-toolbar:72px;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border-width: 0;
}